<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Running Automation Suite">

<listeners>
<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG"></listener>

</listeners>

<test name="Running Test A">
    <classes>
        <class name="com.qa.tests.runner" ></class>
    </classes>
</test>

</suite>